@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Styling for the header */
.Header {
    display: flex;
    grid-template-areas: 'logo nav';
    align-items: center;
    justify-content: space-between;
    background-color: #2f89ff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a slight shadow */
}

/* Styling for the navigation */
.Nav {
    grid-area: nav;
    display: flex;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
    padding-right: 20px;
    font-family:  "Rubik", sans-serif;;
}

/* Links in the navigation */
.Nav a {
    text-decoration: none;
    font-weight: bold;
    color: white; /* White color for contrast against the green background */
    padding: 10px;
    margin: 0 5px;
    transition: color 0.3s, background-color 0.3s; /* Smooth transitions for hover effects */
    border-radius: 5px;
}

/* Hover effect for navigation links */
.Nav a:hover {
    background-color: #fff; /* White background on hover */
    color: #2f89ff; /* Green text on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
}

/* Styling for smaller screens */
@media (max-width: 768px) {
    .Header {
        grid-template-areas:
            'logo'
            'nav';
        text-align: center;
    }

    .Nav {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .Nav a {
        padding: 10px;
        width: 100%;
    }
}

.logo{
    margin-left: 0;
    padding-left: 20px;
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    color: #fff;
}