@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.main{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../images/flood.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* or your preferred height */
    width: 100%;
    
}


.title{
    font-family:  "Rubik", sans-serif;
    font-weight: 800;
    font-size: 80px;
    color: white;
    -webkit-text-stroke: 2px black;
    margin-bottom: 25px;
}

.subTitle{
    font-family:  "Rubik", sans-serif;;
    font-weight: 600;
    font-size: 25px;
    color: aliceblue;
    -webkit-text-stroke: 1px black;
    margin-top: 30px;
}

.button-30 {
    background-color: #FCFCFD;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family:   "Rubik", sans-serif;;
    font-size: 20px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    transition: box-shadow .15s, transform .15s;
    

  }

  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
